<app-header titulo="Alert"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <!-- buttons -->
    <ion-button id="present-alert" expand="block">Click Me</ion-button>
    <ion-alert
        trigger="present-alert"
        header="Alert!"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)"
    ></ion-alert>
    <p>{{ handlerMessage }}</p>
    <p>{{ roleMessage }}</p>


    <!-- buttons -->
    <ion-button id="present-alert2" expand="block">Click Me 2</ion-button>
    <ion-alert
        trigger="present-alert2"
        header="Alert2!"
        [buttons]="alertButtons2"

    ></ion-alert>
  
</ion-content>
