<app-header titulo="Checks"></app-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-checkbox labelPlacement="start">Label at the Start</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="end">Label at the End</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox labelPlacement="fixed">Fixed Width Label</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start" color="danger" checked="true"></ion-checkbox>
      <ion-label>Checkbox Start</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
